body {
  
  background-color: #2E383A;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141414",endColorstr="#222222",GradientType=1);
text-align: center;
font-family: 'Alatsi', sans-serif;
color: white;
padding: 0%;
margin: 0%;

}
.row 
{
  margin: 0px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-instagram {
  background: grey;
  color: white;
}
.fa-facebook {
  background: grey;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: grey;
  color: white;
}
footer
{
  background-color: #181818;
  height: 200px;
  padding: 0%;
  margin: 0px;
}
a
{
    text-decoration: none;

}

.bg-bg
{
  background-image: url('img/HardHat.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  height: 500px;
  text-align: end;
 

 
}
.signUpArea{
  

  margin: 0px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}
.signUp{ 
  text-align: start;
 align-items: flex-start;
  border-radius: 10px;
  background-color: 	#606060;
  
  padding-left: 20px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.signUp h1{
  text-align: center;

  font-size: 50px;
}
.signUp h3{
  text-align: center;

  font-size: 30px;
}
input[type=text], select {
  align-self: justify;
  margin-top: 10px;
  width: 70%;
  align-content: center;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  
  margin-right: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.bg-bg:hover
{
  
  top: 0px;
  
  height: 500px;
  text-align: end;
  background-image: url('img/HardHat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}
.empty{
  padding: 210px;
}



.nav-item:hover{
color: rgb(171, 171, 171);
}
.navbarColor{

 z-index: 3;
  background-color:rgba(0, 0, 0, 0.5);

  width:  100%;
  margin-bottom: 0px;
  color: 	white;
  
}
.middleButton a
{
  border-radius: 5px;
  background-color: darkcyan;
  color: white;
  font-size: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.middleButton a:hover
{
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);      
  border-radius: 5px;
  background-color: rgb(0, 83, 83);
  color: white;
  font-size: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navItemLI a

{
  
  font-size: 30px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.navItemLI a:hover

{
  text-decoration: none;
  font-size: 30px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.image {
  z-index: 1;
  display: block;
  width: 100%;
  height: 50%;


}
.nav
{
  background-color: darkgray;
} 

.section2
{
  margin: 10px;
  background: radial-gradient(#384951,#2E383A);
  text-align: center;
  color:white;
  padding: 50px;
  padding-right: 10px;
  padding-left: 10px;
  height: 800px;
}
.repair{
  align-items: baseline;
  width: max-content;
}
p{color: white;}
.section3
{
  background-image: url('img/tools.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  

  
  text-align: center;
  color:white;
  padding: 50px;
  height: 500px;
  padding-top: 100px;
}
.section3Cover{
color: white;
background-color: rgba(0, 0, 0, 0.06);
background-size: cover;
height: 100%;
width: 100%;
}

.linkButton
{
  font-size: 25px;
  background-color: 	#026AAF;
  color: #FFF;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.container {
  position: relative;
  width: 100%;
  max-width: 800px;
}
.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlayhurdles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  color: black;
}

.overlayDragon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: purple;
  color: black;
}

.Upcoming
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container:hover [class*="overlay"] {
  opacity: 1;
  color: black;
}

.logo
{
    font-family: 'Alatsi', sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0px;
   
    padding-bottom: 0px;

}
.logoBorder{
    border: 1px solid white;
 
   margin-left: 100px;
    background-color: white;
   
}
.logoSubText
{
   
    font-family: 'Alatsi', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 1px;
    
}

li{
    display: inline;
}
.lia1
 {  
    text-decoration: none;
   display: inline-block;
    float: right;
     margin-top: 10px;
    color: rgb(255, 38, 0);
    padding: 20px;
    font-size: 30px;
}
.lia1:hover{
  opacity: 0.7;
  color: rgb(255, 38, 0);
}
.ulnav{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  

}
[class*="lia"]:hover
 {  
    text-decoration: none;
    list-style-type: none;
    opacity: 0.5;
    
  
}
[class*="lia"]:visited
 {  
    text-decoration: none;
    list-style-type: none;
    opacity: 0.5;
    
  
}

.content-header
{
    font-size: 50px;
}
/* For mobile phones: */


.fa {
  padding: 20px;
  font-size: 100px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #FFF;
}

.fa:hover {
    opacity: 0.7;
}




.smartphone-portrait {
  padding: 55px 2%;
  border-radius: 30px;
  border: .5px solid #E0E0E0;
  background-color: #FFF;
  width: 40%;
  float: left;
  box-shadow: inset 0px 0px 0px -4px rgba(255, 255, 255, 0.1), 1px 1px 6px rgba(0, 0, 0, 0.05), 1px 1px 8px rgba(0, 0, 0, 0.07);
}

.controller{
 
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;

  height: 200px;
  width: 250px;
  background-color: #E6E6E6;
  position: relative;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
}

.controllerLeft{
  height: 250px;
  width: 250px;
  background-color: #E6E6E6;
  position: absolute;
  border-radius: 100%;
  margin-left: -125px;
  box-shadow: -15px 8px 15px rgba(0,0,0,0.2);
}

.controllerRight{
  height: 250px;
  width: 250px;
  background-color: #B8B8B8;
  position: relative;
  border-radius: 100%;
  margin-right: -125px;
  border: solid 15px rgba(230, 230, 230,1);
  box-shadow: 15px 8px 15px rgba(0,0,0,0.2);
}

.circle{
  height: 150px;
  width: 150px;
  background-color: #E6E6E6;
  position: absolute;
  border-radius: 100%;
  border: solid 5px rgba(184, 184, 184, 1);
  margin-left: 42px;
  margin-top: 52px;
}

.crossCenter{
  background-color: #333333;
  width: 35px;
  height: 35px;
  margin-top: 110px;
  margin-left: 100px;
  position: relative;
}

.crossCircle{
  background-color: #292929;
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.crossTop{
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-top: -30px;
}

.crossBottom{
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-top: 30px;
}

.crossLeft{
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-left: -30px;
}

.crossRight{
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-left: 30px;
}

.centerBlue{
  position: absolute;
  width: 50px;
  height: 20px;
  margin-left: 175px;
  margin-top: 30px;
  background-color: #0099FF;
}

.centerLeft{
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: 0px;
  background-color: #0099FF;
  border-radius: 100%;
}

.centerRight{
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 40px;
  margin-top: 0px;
  background-color: #0099FF;
  border-radius: 100%;
}

.backButton1Center{
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: #E6E6E6;
  -webkit-transform: rotate(-30deg);
  margin-top: 60px;
  margin-left: 45px;
}

.backButton2Center{
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: #E6E6E6;
  -webkit-transform: rotate(-30deg);
  margin-top: 115px;
  margin-left: 90px;
}

.cornerLeft1{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #00B800;
  border-radius: 100%;
  margin-left: -20px;
  border: solid 5px rgba(230, 230, 230, 1)
}

.cornerRight1{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #6699FF;
  border-radius: 100%;
  margin-left: 60px;
  border: solid 5px rgba(230, 230, 230, 1)
}

.cornerLeft2{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #CFCF00;
  border-radius: 100%;
  margin-left: -20px;
  border: solid 5px rgba(230, 230, 230, 1)
}

.cornerRight2{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #7D230D;
  border-radius: 100%;
  margin-left: 60px;
  border: solid 5px rgba(230, 230, 230, 1)
}

.centerStart{
  background-color: #B8B8B8;
  position: absolute;
  height: 35px;
  width: 10px;
  margin-left: 180px;
  margin-top: 110px;
  -webkit-transform: rotate(20deg);
}

.centerSelect{
  background-color: #B8B8B8;
  position: absolute;
  height: 35px;
  width: 10px;
  margin-left: 205px;
  margin-top: 110px;
  -webkit-transform: rotate(20deg);
}

.SLeft{
  background-color: #B8B8B8;
  position: absolute;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin-top: 30px;
}

.SRight{
  background-color: #B8B8B8;
  position: absolute;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
}

.centerMe{
  padding-top: 50px;
  padding-bottom: 50px;
}

.viewProjects-btn
{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  background-color: #221F27;
  border: 5px solid #221F27;
  margin: 10px;
  border-radius: 5px;
  color: white;
text-decoration: none;
}

.viewProjects-btn:hover
{
  opacity: 0.7;
  text-decoration: none;
  color: white;
}
.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }



 .mytextarea{ 
   font-size: 50px;

   padding: 10;
}
